html,
body {
    height: 100%;
}
body{
    background: #969696;
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock{
    font-family: 'Share Tech Mono', monospace;
    text-align: left;
    position: absolute;
    left: 28rem;
    top: 5rem;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
}
.time{
    letter-spacing: 0.05em;
    font-size: 40px;
    padding: 5px 0;
}
.date {
    letter-spacing: 0.1em;
    font-size: 20px;
}